tms-api/src/main/resources/api/tms/utils.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:beans.tms.lighttms.ru"
           targetNamespace="urn:beans.tms.lighttms.ru"
           elementFormDefault="qualified">

    <xs:element name="configUtils" type="ConfigUtils" />
    <xs:complexType name="ConfigUtils">
        <xs:sequence>
            <xs:element name="mongoReplicaSet" type="xs:string"/>
            <xs:element name="mongoDbName" type="xs:string"/>
            <xs:element name="mongoUserName" type="xs:string"/>
            <xs:element name="mongoPassword" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>