tms-client/wadl/application.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
    <doc xmlns:jersey="http://jersey.java.net/" jersey:generatedBy="Jersey: 1.9.1 09/14/2011 02:05 PM"/>
    <grammars>
        <include href="xsd/xsd0.xsd">
            <doc title="Generated" xml:lang="en"/>
        </include>
    </grammars>
    <resources base="{tmsApiPath}">
        <resource path="/project">
            <method id="createProject" name="PUT">
                <request>
                    <representation xmlns:ns2="urn:beans.tms.lighttms.ru" element="ns2:project" mediaType="application/json"/>
                    <representation xmlns:ns2="urn:beans.tms.lighttms.ru" element="ns2:project" mediaType="application/xml"/>
                </request>
                <response>
                    <representation mediaType="application/json"/>
                    <representation mediaType="application/xml"/>
                </response>
            </method>
            <method id="updateProject" name="POST">
                <request>
                    <representation xmlns:ns2="urn:beans.tms.lighttms.ru" element="ns2:project" mediaType="application/json"/>
                    <representation xmlns:ns2="urn:beans.tms.lighttms.ru" element="ns2:project" mediaType="application/xml"/>
                </request>
                <response>
                    <representation mediaType="application/json"/>
                    <representation mediaType="application/xml"/>
                </response>
            </method>
            <resource path="/all">
                <method id="getAllProject" name="GET">
                    <response>
                        <representation xmlns:ns2="urn:beans.tms.lighttms.ru" element="ns2:project" mediaType="application/json"/>
                        <representation xmlns:ns2="urn:beans.tms.lighttms.ru" element="ns2:project" mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
            <resource path="/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="id" style="template" type="xs:string"/>
                <method id="getProject" name="GET">
                    <response>
                        <representation xmlns:ns2="urn:beans.tms.lighttms.ru" element="ns2:project" mediaType="application/json"/>
                        <representation xmlns:ns2="urn:beans.tms.lighttms.ru" element="ns2:project" mediaType="application/xml"/>
                    </response>
                </method>
                <method id="removeProject" name="DELETE">
                    <response>
                        <representation mediaType="application/json"/>
                        <representation mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/user">
            <resource path="/authorise">
                <method id="authorise" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="login" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="pass" style="query" type="xs:string"/>
                    </request>
                    <response>
                        <representation xmlns:ns2="urn:beans.tms.lighttms.ru" element="ns2:user" mediaType="application/json"/>
                        <representation xmlns:ns2="urn:beans.tms.lighttms.ru" element="ns2:user" mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
            <resource path="/sid">
                <method id="checkSid" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="cookie" style="query" type="xs:string"/>
                    </request>
                    <response>
                        <representation xmlns:ns2="urn:beans.tms.lighttms.ru" element="ns2:user" mediaType="application/json"/>
                        <representation xmlns:ns2="urn:beans.tms.lighttms.ru" element="ns2:user" mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
            <resource path="/token">
                <method id="getUserByToken" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="token" style="query" type="xs:string"/>
                    </request>
                    <response>
                        <representation xmlns:ns2="urn:beans.tms.lighttms.ru" element="ns2:user" mediaType="application/json"/>
                        <representation xmlns:ns2="urn:beans.tms.lighttms.ru" element="ns2:user" mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
            <resource path="/logout">
                <method id="logoutToken" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="token" style="query" type="xs:string"/>
                    </request>
                    <response>
                        <representation xmlns:ns2="urn:beans.tms.lighttms.ru" element="ns2:user" mediaType="application/json"/>
                        <representation xmlns:ns2="urn:beans.tms.lighttms.ru" element="ns2:user" mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/testcase">
            <method id="createTestCase" name="PUT">
                <request>
                    <representation xmlns:ns2="urn:beans.tms.lighttms.ru" element="ns2:testCase" mediaType="application/json"/>
                    <representation xmlns:ns2="urn:beans.tms.lighttms.ru" element="ns2:testCase" mediaType="application/xml"/>
                </request>
                <response>
                    <representation mediaType="application/json"/>
                    <representation mediaType="application/xml"/>
                </response>
            </method>
            <method id="updateTestCase" name="POST">
                <request>
                    <representation xmlns:ns2="urn:beans.tms.lighttms.ru" element="ns2:testCase" mediaType="application/json"/>
                    <representation xmlns:ns2="urn:beans.tms.lighttms.ru" element="ns2:testCase" mediaType="application/xml"/>
                </request>
                <response>
                    <representation mediaType="application/json"/>
                    <representation mediaType="application/xml"/>
                </response>
            </method>
            <resource path="/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="id" style="template" type="xs:string"/>
                <method id="getTestCase" name="GET">
                    <response>
                        <representation xmlns:ns2="urn:beans.tms.lighttms.ru" element="ns2:testCase" mediaType="application/json"/>
                        <representation xmlns:ns2="urn:beans.tms.lighttms.ru" element="ns2:testCase" mediaType="application/xml"/>
                    </response>
                </method>
                <method id="removeTestCase" name="DELETE">
                    <response>
                        <representation mediaType="application/json"/>
                        <representation mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/suite">
            <method id="createSuite" name="PUT">
                <request>
                    <representation xmlns:ns2="urn:beans.tms.lighttms.ru" element="ns2:suite" mediaType="application/json"/>
                    <representation xmlns:ns2="urn:beans.tms.lighttms.ru" element="ns2:suite" mediaType="application/xml"/>
                </request>
                <response>
                    <representation mediaType="application/json"/>
                    <representation mediaType="application/xml"/>
                </response>
            </method>
            <method id="updateSuite" name="POST">
                <request>
                    <representation xmlns:ns2="urn:beans.tms.lighttms.ru" element="ns2:suite" mediaType="application/json"/>
                    <representation xmlns:ns2="urn:beans.tms.lighttms.ru" element="ns2:suite" mediaType="application/xml"/>
                </request>
                <response>
                    <representation mediaType="application/json"/>
                    <representation mediaType="application/xml"/>
                </response>
            </method>
            <resource path="/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="id" style="template" type="xs:string"/>
                <method id="getSuite" name="GET">
                    <response>
                        <representation xmlns:ns2="urn:beans.tms.lighttms.ru" element="ns2:suite" mediaType="application/json"/>
                        <representation xmlns:ns2="urn:beans.tms.lighttms.ru" element="ns2:suite" mediaType="application/xml"/>
                    </response>
                </method>
                <method id="removeSuite" name="DELETE">
                    <response>
                        <representation mediaType="application/json"/>
                        <representation mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/doc">
            <method id="getDoc" name="GET">
                <response>
                    <representation mediaType="text/html"/>
                    <representation mediaType="application/xml"/>
                </response>
            </method>
        </resource>
    </resources>
</application>